branch = "main"
license = "MIT OR Apache-2.0"
authors = ["John-John Tedro <udoprog@tedro.se>"]
documentation = "{{docs_rs}}/{{package.name}}"
readme_badges = ["+build"]

[actions.latest]
"actions/checkout" = "v4"
"actions/download-artifact" = "v4"
"actions/upload-artifact" = "v4"
"actions/cache" = "v4"

[actions.deny]
"actions-rs/cargo" = "Using `run` is less verbose and faster"
"actions-rs/toolchain" = "Using `run` is less verbose and faster"

[variables]
github = "https://github.com"
docs_rs = "https://docs.rs"
docs_rs_image = "data:image/svg+xml;base64,PHN2ZyByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDUxMiA1MTIiPjxwYXRoIGZpbGw9IiNmNWY1ZjUiIGQ9Ik00ODguNiAyNTAuMkwzOTIgMjE0VjEwNS41YzAtMTUtOS4zLTI4LjQtMjMuNC0zMy43bC0xMDAtMzcuNWMtOC4xLTMuMS0xNy4xLTMuMS0yNS4zIDBsLTEwMCAzNy41Yy0xNC4xIDUuMy0yMy40IDE4LjctMjMuNCAzMy43VjIxNGwtOTYuNiAzNi4yQzkuMyAyNTUuNSAwIDI2OC45IDAgMjgzLjlWMzk0YzAgMTMuNiA3LjcgMjYuMSAxOS45IDMyLjJsMTAwIDUwYzEwLjEgNS4xIDIyLjEgNS4xIDMyLjIgMGwxMDMuOS01MiAxMDMuOSA1MmMxMC4xIDUuMSAyMi4xIDUuMSAzMi4yIDBsMTAwLTUwYzEyLjItNi4xIDE5LjktMTguNiAxOS45LTMyLjJWMjgzLjljMC0xNS05LjMtMjguNC0yMy40LTMzLjd6TTM1OCAyMTQuOGwtODUgMzEuOXYtNjguMmw4NS0zN3Y3My4zek0xNTQgMTA0LjFsMTAyLTM4LjIgMTAyIDM4LjJ2LjZsLTEwMiA0MS40LTEwMi00MS40di0uNnptODQgMjkxLjFsLTg1IDQyLjV2LTc5LjFsODUtMzguOHY3NS40em0wLTExMmwtMTAyIDQxLjQtMTAyLTQxLjR2LS42bDEwMi0zOC4yIDEwMiAzOC4ydi42em0yNDAgMTEybC04NSA0Mi41di03OS4xbDg1LTM4Ljh2NzUuNHptMC0xMTJsLTEwMiA0MS40LTEwMi00MS40di0uNmwxMDItMzguMiAxMDIgMzguMnYuNnoiPjwvcGF0aD48L3N2Zz4K"
colors = { github = "8da0cb", crates_io = "fc8d62", docs_rs = "66c2a5" }
badge_height = 20
branch = "main"

[workflows.ci]
template = "data/ci.yml"
name = "CI"
branch = "main"
features = [
    "schedule-random-weekly"
]

[[version]]
paths = ["src/**/*.rs"]
pattern = "//!\\s+[a-z-]+\\s*=\\s*.+(?P<version>[0-9]+\\.[0-9]+\\.[0-9]+).+"

[[badges]]
alt = "github"
src = "https://img.shields.io/badge/github-{{dash_escape package.repo}}-{{colors.github}}?style=for-the-badge&logo=github"
href = "{{github}}/{{package.repo}}"
height = "{{badge_height}}"

[[badges]]
id = "crates.io"
alt = "crates.io"
src = "https://img.shields.io/crates/v/{{package.name}}.svg?style=for-the-badge&color={{colors.crates_io}}&logo=rust"
href = "https://crates.io/crates/{{package.name}}"
height = "{{badge_height}}"

[[badges]]
id = "docs.rs"
alt = "docs.rs"
src = "https://img.shields.io/badge/docs.rs-{{dash_escape package.name}}-{{colors.docs_rs}}?style=for-the-badge&logoColor=white&logo={{docs_rs_image}}"
href = "{{docs_rs}}/{{package.name}}"
height = "{{badge_height}}"

[[badges]]
id = "build"
alt = "build status"
src = "https://img.shields.io/github/actions/workflow/status/{{package.repo}}/ci.yml?branch={{branch}}&style=for-the-badge"
href = "{{github}}/{{package.repo}}/actions?query=branch%3A{{branch}}"
height = "{{badge_height}}"
enabled = false

[[badges]]
id = "discord"
alt = "chat on discord"
src = "https://img.shields.io/discord/558644981137670144.svg?logo=discord&style=flat-square"
href = "https://discord.gg/v5AeNkT"
height = "{{badge_height}}"
enabled = false

[repo."repos/aiocp"]
url = "https://github.com/udoprog/aiocp"
name = "iocp"

[repo."repos/OxidizeBot"]
url = "https://github.com/udoprog/OxidizeBot"
lib = "data/OxidizeBot.lib.md"
readme = "data/OxidizeBot.readme.md"
lib_badges = ["-docs.rs", "-crates.io", "+discord"]
readme_badges = ["-docs.rs", "-crates.io", "+discord"]
variables = { badge_height = 24 }

[repo."repos/rune"]
url = "https://github.com/rune-rs/rune"
lib = "data/rune.lib.md"
readme = "data/rune.readme.md"
lib_badges = ["+discord"]
readme_badges = ["+discord"]

[repo."repos/OxidizeBot".upgrade]
exclude = [
    # web component has multiple dependencies on sled
    "sled",
    # diesel maintainers refuse to re-export the needed feature to avoid
    # depending on this directly.
    # https://github.com/diesel-rs/diesel/issues/3587
    "libsqlite3-sys"
]

[repo."repos/xmlparser"]
url = "https://github.com/RazrFalcon/xmlparser"
branch = "master"
variables = { branch = "master" }
workflows.ci = { branch = "master" }

[repo."repos/fixed-map"]
url = "https://github.com/udoprog/fixed-map"

[repo."repos/genco"]
url = "https://github.com/udoprog/genco"

[repo."repos/relative-path"]
url = "https://github.com/udoprog/relative-path"

[repo."repos/leaky-bucket"]
url = "https://github.com/udoprog/leaky-bucket"

[repo."repos/serde-hashkey"]
url = "https://github.com/udoprog/serde-hashkey"

[repo."repos/musli"]
url = "https://github.com/udoprog/musli"

[repo."repos/unsync"]
url = "https://github.com/udoprog/unsync"

[repo."repos/unicycle"]
url = "https://github.com/udoprog/unicycle"

[repo."repos/checkers"]
url = "https://github.com/udoprog/checkers"

[repo."repos/async-oauth2"]
url = "https://github.com/udoprog/async-oauth2"

[repo."repos/argwerk"]
url = "https://github.com/udoprog/argwerk"

[repo."repos/selectme"]
url = "https://github.com/udoprog/selectme"

[repo."repos/syntree"]
url = "https://github.com/udoprog/syntree"

[repo."repos/anything"]
url = "https://github.com/udoprog/anything"

[repo."repos/bittle"]
url = "https://github.com/udoprog/bittle"

[repo."repos/quickcfg"]
url = "https://github.com/udoprog/quickcfg"

[repo."repos/async-fuse"]
url = "https://github.com/udoprog/async-fuse"

[repo."repos/futures-cache"]
url = "https://github.com/udoprog/futures-cache"

[repo."repos/async-injector"]
url = "https://github.com/udoprog/async-injector"

[repo."repos/uniset"]
url = "https://github.com/udoprog/uniset"

[repo."repos/audio"]
url = "https://github.com/udoprog/audio"

[repo."repos/markerpen"]
url = "https://github.com/udoprog/markerpen"

[repo."repos/hodoku"]
url = "https://github.com/udoprog/hodoku"

[repo."repos/ptscan"]
url = "https://github.com/udoprog/ptscan"

[repo."repos/fixed-vec-deque"]
url = "https://github.com/udoprog/fixed-vec-deque"

[repo."repos/sieve-rs"]
url = "https://github.com/udoprog/sieve-rs"

[repo."repos/ontv"]
url = "https://github.com/udoprog/ontv"

[repo."repos/sqlite-ll"]
url = "https://github.com/udoprog/sqlite-ll"

[repo."repos/gorilla"]
url = "https://github.com/udoprog/gorilla"

[repo."repos/kick"]
url = "https://github.com/udoprog/kick"

[repo."repos/nondestructive"]
url = "https://github.com/udoprog/nondestructive"

[repo."repos/jpv"]
url = "https://github.com/udoprog/jpv"

[repo."repos/borrowme"]
url = "https://github.com/udoprog/borrowme"

[repo."repos/tokio-dbus"]
url = "https://github.com/udoprog/tokio-dbus"

[repo."repos/winctx"]
url = "https://github.com/udoprog/winctx"

[repo."repos/unlock"]
url = "https://github.com/udoprog/unlock"

[repo."repos/wolo"]
url = "https://github.com/udoprog/wolo"

[repo."repos/bookvert"]
url = "https://github.com/udoprog/bookvert"
